parameters:
	level: 9
	paths:
		- src
		- tests
		- public
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
	    - '#(Method|Property) (.*) no value type specified in iterable type array.#'
	    - '#Cannot access offset (.*) on mixed.#'